<!doctype html>
<html>
    <head>
        <title>Outbound dialler</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" type="text/css" />
    </head>
    <body>
        <div class="container" style="margin-top: 8px">
            <div>
                <div id="ext-input-area">
                    <span>Extension: </span><input type="number" id="ext-input" name="ext-input" />
                    <button type="button" id="confirm" class="btn btn-primary" style="margin-left: 5px">Confirm</button>
                </div>
                <input type="hidden" id="ext" name="ext" />
            </div>
            <div>
                <p></p>
                <button id="btn-next"class="btn btn-primary btn-lg" disabled>Dial Me</button>
            </div>
            <div style="margin-top: 5px">
                <ul id="dialed" class="list-group">

                </ul>
            </div>
        </div>
        <div id="scripts">
            <script src="static/jquery3.2.1.min.js" type="text/javascript"></script>
            <script src="static/popper.js" type="text/javascript"></script>
            <script src="static/bootstrap/bootstrap.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(function(){
                    $("#btn-next").click(function(e){
                        ext = $("#ext").val();
                        $url = "/call/" + ext;
                        $dialed = $('#dialed');
                        $.post($url, function(data, status, xhr){
                            $text = 'SMS queue is currently empty, please try again later';
                            if(data.called == 'true'){
                                $text = `Initiated call to ${data.phoneNumber}`;
                            }
                            $dialed.append(`<li class='list-group-item'>${$text}</li>`);
                        });
                    });
                });
                $(function(){
                    $("#confirm").click(function(e){
                        $val = $("#ext-input").val()
                        if(parseInt($val)){
                            $("#ext").val($val)
                            $('#ext-input-area').html(`<div class='alert alert-success' role='alert'>Confirmed, using extension ${$val}. Refresh page to change</div>`)
                            $('#btn-next').removeAttr('disabled')
                        }
                    })
                });
            </script>
        </div>
    </body>
</html>